@charset "UTF-8";
/* CSS Document */

body {
	background-color:#0A0A0A;
	font-family:sans-serif;
	color:#CCCCCC;
	text-align:center;
}
#main {
	margin: auto;
	width: 800px;
	text-align:center;
	border: solid;
	border-width:1.5px;
	height:740px;
	background-image:url(Images/gradientbg.jpg);	
	padding-top: 5px;	
}

a {
color:#99FFFF;
} 

#banner {
width: 350px;
}

#content {
width:800px;
height:600px;
background-image:url(Images/rufflebanner.png);

}